<div>
  <form action="/auth/login" method="POST">
    <input type="text" name="username" placeholder="Digite o nome de usuário">
    <input type="password" name="password" placeholder="Digite a senha">

    <button type="submit">Entrar</button>

    <div>
      {{#if errorMessage}}
        <span>{{errorMessage}}</span>
      {{/if}}
    </div>
    
  </form>
</div>